
h1 {
    font-family: 'Courgette', cursive;
    color:rgb(215, 94, 150)
}


body {

    background-color: rgb(240, 217, 229);
    max-width: 1000px;
    padding-left: 50px;
    
}

h2 {
    font-family: 'Courgette', cursive;
    color:rgb(163, 84, 130)
}

img {
    width: 300px;
}

p {
    font-family: 'Open Sans', sans-serif;
}
